#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
}

th {
	background-color: #4CAF50;
	color: white;
  }

  .vl {
	border-left: 6px solid green;
	height: 500px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0;
  }

  .divider-1 {
	border-bottom: 1px solid rgb(6, 153, 55);
	background-color: rgb(6, 153, 55);
	height: 1px;
	margin: 0.5em 0px 1.5em;
	text-align: center;
}

.divider-1 span {
	display: block;
	width: 50px;
	height: 2px;
	text-align: center;
}

a.btn{
	text-decoration: none;
	color: #fff;
	font-family: 'Sniglet', cursive;
	padding: 8px 20px;
	border-radius: 27px;
	margin: 0, 15px;
}

.light{
	background-color: rgb(77, 199, 81);
}

.dark{
	background-color: rgb(47, 126, 50);
}


.submit{
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	background-color: rgb(18, 56, 20);
	text-decoration: none;
	color: #fff;
	padding: 8px 20px;
	border-radius: 27px;
	margin: 0, 15px;
}


ul {
    text-align: center;
	list-style-position: inside;
	white-space: nowrap;
}

#ownership {
    white-space: nowrap;
}

.input-fields{
	display: flex;
	flex-direction: column;
	margin-right: 4%;
}

.input-fields{
	width: 48%;
}

.container {
	position: fixed;
	bottom: 0;
	transform: rotate(20); 
	right: 0;
  }

  input[type=text], select, textarea {
	width: 50%; 
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: none;
  }

  input[type=submit]:hover{
	background-color: rgb(12, 145, 103);
  }

  .square {
	width: 200px;
	height: 200px;
	
	border-top: 10px solid rgb(54, 182, 15);
	border-right: 10px solid rgb(2, 87, 34);
	border-bottom: 10px solid rgb(54, 182, 15);
	border-left: 10px solid rgb(2, 87, 34);
	margin-right: -155px;
	margin-top: -250px;
  }

  
  .square.-one {
	animation: rotate 9000ms infinite linear;
	opacity: .4;
	background: rgb(255, 255, 255);
  }

  @keyframes rotate {
	from { transform: rotate(0deg); }
	from { transform: rotate(-360deg); }
  }

  footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}







